@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display");
@import url("https://fonts.googleapis.com/css?family=Outfit");
body{ background-color: #ffffff !important; }
#hslNav{ background-color: #ffffff !important; }
.da-attachment-email-all{ display: none !important; }
.da-attachment-download-all{ display: none !important; }
.daundertext a{
}
.daundertext a:hover{
color: #5196d5 !important;
}
.nav-pills .nav-link:not(.active):not(.text-muted)::before {
border: 2px solid #5196d5 !important;
}
.nav-pills .nav-link:not(.active):not(.text-muted)::after {
color: #5196d5 !important;
}
.nav-pills .nav-link:not(.active):not(.text-muted) {
color: #5196d5 !important;
}
.nav-link{
font-size: 18px !important;
font-family: "DM Serif Display" !important;
border-width: 2px !important;
border-radius: 10px !important;
color: #02294f !important;
border-color: #ffffff !important;
background-color: #c3e2f4 !important;
}
.nav-link.active{
font-size: 18px !important;
font-family: "DM Serif Display" !important;
border-width: 2px !important;
border-radius: 10px !important;
color: #ffffff !important;
border-color: #ffffff !important;
background-color: #02294f !important;
}
.row.da-field-container.da-field-container-note, .da-subquestion{
font-family: "Outfit" !important;
}
.row.da-field-container.da-field-container-note a{
}
.row.da-field-container.da-field-container-note a:hover{
color: #5196d5 !important;
}
.da-page-header {
margin-bottom: 10px !important;
border-bottom-color: #5196d5 !important;
border-bottom-width: 4px !important;
}
.da-page-header h1 {
font-size: 30px !important;
font-family: "DM Serif Display" !important;
}
.da-form-label {
font-family: "Outfit" !important;
font-weight: 500 !important;
}
.da-field-container-datatype-text .dafieldpart input,
.da-field-container-datatype-integer .dafieldpart input,
.da-field-container-datatype-email .dafieldpart input,
.da-field-container-datatype-date .dafieldpart input,
.da-field-container-datatype-number .dafieldpart input,
.da-field-container-datatype-csv .dafieldpart input
{
font-family: "Outfit" !important;
border-color: #c3e2f4 !important;
border-style: solid !important;
border-width: 1px !important;
border-radius: 15px !important;
background-color: #fff !important;
}
.da-field-container-inputtype-area .dafieldpart textarea {
font-family: "Outfit" !important;
border-color: #c3e2f4 !important;
border-style: solid !important;
border-width: 1px !important;
border-radius: 15px !important;
background-color: #fff !important;
}
input.labelauty + label.btn-light{
font-size: 15px !important;
font-family: "Outfit" !important;
border-color: #c3e2f4 !important;
border-style: solid !important;
border-radius: 15px !important;
background-color: #fff !important;
}
input.labelauty + label.btn-primary{
font-size: 15px !important;
font-family: "Outfit" !important;
border-color: #c3e2f4 !important;
border-style: solid !important;
border-radius: 15px !important;
background-color: #5196d5 !important;
}
input.labelauty + label.btn-light:hover, input.labelauty + label.btn-primary:hover{
background-color: #e8f0fa !important;
}
.labelauty-checked-image{
background-color: #fff !important;
box-shadow: 0 0 0 3px #fff, 0 0 0 5px #02294f !important;
background-color: #02294f !important;
}
.labelauty-checked{
color: #ffffff !important;
}
.labelauty-unchecked-image{
background-color: #fff !important;
}
.labelauty-unchecked{
}
.da-field-checkboxes span.labelauty-checked-image{
background-color: #fff !important;
box-shadow: #02294f 0px 0px 0px 1px !important;
background-color: #02294f !important;
}
.da-field-checkboxes span.labelauty-unchecked-image {
background-color: #fff !important;
}
span.da-has-error {
font-family: "Outfit" !important;
}
.invalid-feedback{
}
.combobox-container input{
color: #212529 !important;
font-size: 15px !important;
font-family: "Outfit" !important;
border-color: #c3e2f4 !important;
border-radius-key: 10px !important;
border-top-left-radius: 10px !important;
border-bottom-left-radius: 10px !important;
}
.dropdown-menu{
font-size: 15px !important;
font-family: "Outfit" !important;
border-radius: 10px !important;
background-color: #ffffff !important;
}
.dacomboboxtoggle{
color: #ffffff !important;
border-color: #c3e2f4 !important;
background-color: #c3e2f4 !important;
border-top-right-radius: 10px !important;
border-bottom-right-radius: 10px !important;
}
.dacomboboxtoggle:hover{
color: #02294f !important;
background-color: #5196d5 !important;
}
.dropdown-item{
background-color: #ffffff !important;
}
.dropdown-item:hover, .dropdown-item.active{
background-color: #5196d5 !important;
}
.form-select {
background-color: #fff !important;
font-family: "Outfit" !important;
border-color: #c3e2f4 !important;
border-style: solid !important;
border-width: 1px !important;
border-radius: 15px !important;
background-color: #fff !important;
}
button.daquestionbackbutton.btn-light{
border-color:transparent !important;
}
button.daquestionbackbutton {
color: #5196d5 !important;
font-size: 15px !important;
font-family: "Outfit" !important;
}
button.daquestionbackbutton:hover {
}
fieldset.daFieldButtons {
margin-top: 21px !important;
margin-left: 0px !important;
}
.btn.btn-da.btn-primary, .btn.btn-primary:disabled, .btn.btn-primary.disabled, .btn-secondary.disabled, .btn-secondary:disabled {
color: #fff !important;
font-size: 17px !important;
font-family: "DM Serif Display" !important;
border-radius: 10px !important;
background-color: #02294f !important;
}
.btn.btn-da.btn-primary{
border-color:transparent !important;
}
.btn.btn-da.btn-secondary, p .btn-secondary.btn-sm {
color: #ffffff !important;
font-size: 16px !important;
font-family: "DM Serif Display" !important;
border-radius: 10px !important;
background-color: #c3e2f4 !important;
border-width : 0px !important;
}
.btn.btn-da.btn-secondary:hover, p .btn-secondary.btn-sm:hover {
color: #fff !important;
background-color: #5196d5 !important;
border-color : #5196d5 !important;
}
.btn-warning {
border-color: transparent !important;
border-radius: 10px !important;
font-family: "DM Serif Display" !important;
font-size: 17px !important;
color: #ffffff !important;
background-color: #c3e2f4 !important;
}
.btn.btn-da.btn-primary:hover{
color: #5196d5 !important;
background-color: #c3e2f4 !important;
}
.row.da-field-container.da-field-container-note  h4{
font-family: "DM Serif Display" !important;
}
.bg-light{
background-color: #c3e2f4 !important;
}
.da-review-button{
border-radius: 10px !important;
}
#daform .da-review-action.da-review-action-button, table.table.table-striped tr td a.btn.btn-darevisit:not(.btn-danger) {
color: #ffffff !important;
border-color: #ffffff !important;
background-color: #103f77 !important;
}
#daform .da-review-action.da-review-action-button:hover, table.table.table-striped tr td a.btn.btn-darevisit:not(.btn-danger):hover{
color: #c3e2f4 !important;
border-color: #0069d9 !important;
background-color: #ffffff !important;
}
.da-review-button p{
font-family: "Outfit" !important;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
font-family: "Outfit" !important;
border-color: #c3e2f4 !important;
border-style: solid !important;
border-width: 1px !important;
border-radius: 15px !important;
background-color: #fff !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field  {
outline-color : #c3e2f4 !important;
outline-style :  solid !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
font-family: "Outfit" !important;
}
.select2-results__option{
font-family: "Outfit" !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
{
font-size: 15px !important;
font-family: "Outfit" !important;
border-radius: 10px !important;
background-color: #ffffff !important;
}
.select2-container--default .select2-results__option--selectable.select2-results__option--highlighted{
color: #02294f !important;
background-color: #5196d5 !important;
}
.text-info{
color : #5196d5 !important;
}
.text-info:hover{
color : #5196d5 !important;
}
.da-attachment-title-wrapper h3{
    /* V1: font-family: "DM Serif Display" !important; */
    color: #02294f !important;          
    font-family: "DM Serif Display" !important;
}
.da-attachment-download-wrapper p a {
    /* V1: (empty rule) */
    color: #5196d5 !important;            
    background-color: #c3e2f4 !important;
}
.da-attachment-download-wrapper p a:hover{
    /* V1: color: #fff !important; */
    color: #fff !important;
    background-color: #02294f !important; 
}
hr{
background-color: #c3e2f4 !important;
}
.table-responsive + p a.btn-success, .btn.dacollectadd {
color: #5196d5 !important;
border-color: #5196d5 !important;
background-color: #ffffff !important;
border-radius : 10px !important;
}
.table-responsive + p a.btn-success:hover, .btn.dacollectadd:hover{
color: #5196d5 !important;
background-color: #c3e2f4 !important;
}
table.table.table-striped tr td a.btn.btn-darevisit.btn-danger, button.btn.dacollectremoveexisting, button.btn.dacollectremove{
}
table.table.table-striped tr td a.btn.btn-darevisit.btn-danger:hover, button.btn.dacollectremoveexisting:hover, button.btn.dacollectremove:hover{
background-color : rgb(197 59 0 / 100%) !important;
color : #fff !important;
border-color : rgb(197 59 0 / 100%) !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
font-family: "DM Serif Display" !important;
}
.da-subquestion h2, .h2{
font-family: "DM Serif Display" !important;
font-size: 30px !important;
}
.table.table-striped thead th{
font-family: "Outfit" !important;
}
.table-striped tbody tr:nth-of-type(2n+1), .table.table-striped thead th{
background-color: #ffffff !important;
}
.table-striped tbody tr:nth-of-type(2n){
background-color: #ffffff !important;
}
.table > :not(caption) > * > *{
box-shadow: none !important;
}
.table tr{
font-family: "Outfit" !important;
}
.btn-info{
background-color : #02294f !important;
border-color : #02294f !important;
color : #fff !important;
font-family: "DM Serif Display" !important;
border-radius : 10px !important;
}
.btn-info:hover{
background-color : #c3e2f4 !important;
border-color : #c3e2f4 !important;
color : #5196d5 !important;
}
.btn-secondary:focus, .btn-secondary.focus,     .btn.btn-da.btn-primary:focus, .btn-primary:focus{
box-shadow: none !important;
}
select option[value=""]{
display: none; }
.da-field-checkboxes label[aria-label=""] {
display: none !important;
} 
p {
  font-family: "Outfit", sans-serif !important;
}
button.btn.btn-default.btn-secondary.kv-hidden.fileinput-cancel.fileinput-cancel-button {
  background-color: #5196d5 !important;
  border-color:    #5196d5 !important;
  color:           #ffffff !important;
}
.btn.btn-primary.btn-file {
  background-color: #02294f !important;
  border-color:    #02294f !important;
  color:           #ffffff !important;
}
button.btn.btn-primary {
  color: #ffffff !important;
  background-color: #313B89 !important;
  border-color: transparent !important;
}
button.btn.btn-primary:hover {
  color: #ffffff !important;
  background-color: #00adef !important;
  border-color: #00adef !important;
}
a[href] {
  color: #5196d5; /* your chosen link color */
  text-decoration: none; /* optional */
}

a[href]:hover {
  color: #7ec1f2; /* hover effect */
}

a[href]:active {
  color: #5196d5; /* active (click) state */
}
